
# Virtual environment
.env

# Excel & logs
*.xlsx

sessions/*
excel/*
excel_daily/*
users/*

# Tapi jangan abaikan file .gitkeep
!sessions/.gitkeep
!excel/.gitkeep
!excel_daily/.gitkeep
!users/.gitkeep